.container{
    display: flex;
}

#tasks-header{ 
    display: flex;
    align-items: center;
}

#task-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}

.task-item{
    list-style: none;
    display: flex;
    align-items: center;
    cursor:pointer;
    gap: 20px;
    height: 40px;
    padding: 10px;
}

.task-item .checkbox{
    height: 100%;    
    width: 15px; 
    height: 15px;
    border: 2px solid #999;
    background-color: transparent;
}

.task-item.completed .checkbox{
    background-color: rgb(0, 174, 255);
}

.list-item{
    list-style: none;
    display: flex;
    align-items: center;
    cursor:pointer;
    gap: 20px;
    font-size: .9rem;
}


.list-item.selected .checkbox{
    background-color: blue;
}

.list-item .checkbox{
    width: 10px; 
    height: 10px;
    border: 2px solid #999;
    background-color: transparent;
}

